[submodule "thirdparty/jsoncpp"]
	path = thirdparty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "thirdparty/TarsCpp"]
	path = thirdparty/TarsCpp
	url = https://github.com/TarsCloud/TarsCpp.git
[submodule "thirdparty/random"]
	path = thirdparty/random
	url = https://github.com/effolkronium/random.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/jwt"]
	path = thirdparty/jwt
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "thirdparty/protobuf"]
	path = thirdparty/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "thirdparty/openssl"]
	path = thirdparty/openssl
	url = https://github.com/openssl/openssl.git
